    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <center><h2>Sobre nós</h2></center>
            <br/>
                <p>A Senso consultoria estatística é uma empresa sediada em Curitiba – PR, criada por estatísticos advindos das mais conceituadas universidades do país (<a href="http://www.ime.unicamp.br/">UNICAMP</a>, <a href="http://www4.esalq.usp.br/">USP</a> e <a href="http://www.est.ufpr.br/">UFPR</a>).</p>
                <p>Sua atuação vai desde o auxílio em pesquisas de TCC, mestrado e doutorado, até cursos e treinamento em diversas áreas.</p>
           <br/>
              </div>
        </div>
    </section>
