<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Contato</h2>
				</div>
			              	<div>
				
					    	<ul> 
							
						        <a href="https://www.facebook.com" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"> </span></a>
						        <a href="mailto:sensocursos@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name"> </span></a>
						</ul> 
					</div>
			
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
